<div class="container">

<h1>商品一覧</h1>
<%= button_to '商品を出品する', new_item_path, method: :get, class: "side-button" %>
<% @items.each do |item| %>
<%= link_to item do %>
<div class="item-card">
  <img src="/item_images/<%= item.image_name %>">
  <div class="item-card-right">
    <div class="item-card-title"><%= item.name %></div>
    <div class="item-card-price"><%= item.price.to_s(:delimited) %>円</div>
    <div class="item-card-description">
    <%= truncate item.description, length: 60 %>
    </div>
    <%= render 'score', score: item.score %>
  </div>
</div>
<% end %>
<% end %>

</div>
