<div class="container">
  <div class="item-card item-card-big">

  <img src="/item_images/<%= @item.image_name %>" width="300px">
  <div class="item-card-right">
    <div class="item-card-title">
    <%= @item.name %>
  </div>

<div class="item-card-price">
  <%= @item.price.to_s(:delimited) %>円
  <%= render 'score', score: @item.score %>
</div>

<p>
  <%= @item.description %>
</p>
<p>
  <strong>出品者:</strong>
  <%= link_to @item.user.name, @item.user %> さん
</p>
<hr>

<%= form_tag '/cart/add_item/' do %>
    数量: <select name="quantity">
    <% for n in 1..10 do %>
      <option value="<%= n %>"><%= n %></option>
    <% end %>
    </select>
    <input type="hidden" name="item_id" value="<%= @item.id %>">
    <input type="submit" value="カートに追加">
<% end %>
</div>
</div>

<% if @user_logged_in && @user_logged_in.id == @item.user.id %>
<div class="card">
  <h2>商品の管理</h2>
  <%= button_to '商品情報の編集', edit_item_path(@item), method: :get %>
  <%= button_to '商品を削除', @item, method: :delete, data: { confirm: '本当に商品を削除しますか?' } %>
</div>
<% end %>

<div class="card">
<h2>カスタマーレビュー (<%= @reviews.size %>件)</h2>
<p>
  <% unless @item.reviews.blank? %>
  <strong>平均点:</strong>
  <i class="fa fa-star"></i>
  <%= @item.score %>
  <% else %>
    レビューはまだありません
  <% end %>
</p>
<% @reviews.each do |review| %>
  <%= render 'score', score: review.score %>
  <div class="review-title"><%= review.title %></div>
  <div class="review-content">
    <div class="review-user">
    <i class="fa fa-user"></i>
      <% if review.user%>
        <%= link_to review.user.name, review.user %>:
      <% else %>
        匿名:
      <% end %>
    </div>
    <%= review.content %>
  </div>
  <hr class="reviews-hr">
<% end %>
</div>

<div class="card">
<h2>レビュー投稿</h2>
<%= form_tag("/reviews") do %>
  <% if @review.errors.any? %>
    <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
    <%= select :review, :score, [["5", "5"], ["4", "4"], ["3", "3"], ["2", "2"], ["1", "1"]], :selected => @review.score %>
    <i class="fa fa-star"></i>
    <input name="review[title]" value="<%= @review.title %>" placeholder="見出し">
    <textarea name="review[content]" value="<%= @review.content %>" placeholder="本文"></textarea>
    <input name="review[item_id]" type="hidden" value="<%= @item.id %>">
    <input type="submit" value="投稿">
<% end %>
</div>
</div>
