<div class="container">
  <div class="card">

    <p>
      <strong>商品:</strong>
      <%= link_to @review.item.name, @review.item %>
    </p>

    <p>
      <% if !@user_logged_in || @user_logged_in && @review.user && @user_logged_in.id != @review.user.id %>
      <strong>投稿者:</strong>
      <% if @review.user %>
      <%= link_to @review.user.name, @review.user %>
      <% else %>
        匿名ユーザ
      <% end %>
      <% end %>
    </p>

    <p>
      <%= render 'items/score', score: @review.score %>
    </p>

    <p>
      <b><%= @review.title %></b>
    </p>

    <p>
      <%= @review.content %>
    </p>

    <% if @user_logged_in && @review.user && @user_logged_in.id == @review.user.id %>
    <%= link_to '編集', edit_review_path(@review) %> |
    <%= link_to '削除', @review, method: :delete, data: { confirm: '本当に削除しますか?' } %>
    <% end %>

  </div>
</div>
