<!DOCTYPE html>
<html>
  <head>
    <title>HamazonOnRails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div id="logo"><%= link_to "hamazon", items_path %></div>
      <nav>
      <%= link_to("商品一覧", items_path) %>
      <%= link_to(cart_path) do %><i class="fa fa-shopping-cart"></i> カート<%end %>
      <% if @user_logged_in %>
      <div class="dropdown">
        <button class="dropbtn" id="user-dropdown-btn">
          <i class="fa fa-user"></i>
          <%= @user_logged_in.name %>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="user-dropdown-content">
          <%= link_to("アカウント", @user_logged_in) %>
          <%= link_to("ログアウト", "/logout", method: :post) %>
        </div>
        <% else %>
          <%= link_to("新規会員", "/users/new") %>
          <%= link_to("ログイン", "/login") %>
        <% end %>
      </div>
      </nav>
    </header>
    <% flash.each do |type, msg| %>
    <div class= "alert alert-<%= type %>"><%= msg %></div>
    <% end %>
    <main>
    <%= yield %>
    </main>
    <script type="text/javascript">
    var display = true;
    $('.dropbtn').click(function(e){
      e.stopPropagation();
      $('.dropdown-content').toggle(display);
      display = !display;
    });
     $('body').click(function(e){
       if ($(e.target).not('.dropdown')){
         $('.dropdown-content').hide();
       }
     });
    </script>
  </body>
</html>
