<!DOCTYPE html>
<html>
  <head>
    <title>HamazonOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>//Under Construction.</p>
    <nav>
      <%= link_to("商品一覧", "/items") %>
      <%= link_to("カート", "/cart") %>
      <% if @user_logged_in %>
        <%= link_to(@user_logged_in.name, "/users/#{@user_logged_in.id}") %>
        <%= link_to("ログアウト", "/logout", method: :post) %>
      <% else %>
        <%= link_to("新規会員", "/users/new") %>
        <%= link_to("ログイン", "/login") %>
      <% end %>
    </nav>
    <% flash.each do |type, msg| %>
      <div class= "alert alert-<%= type %>"><%= msg %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
